body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -40px;
  background-color: rgb(240, 208, 255);
}
.titulo {
  text-align: center;
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  
}

.formulario {
  display: flex;
  background-color: yellow;
  width: 400px;
  flex-direction: column;
  align-items: center;
  padding: 70px;
  border: 2px solid black;
  box-shadow: 7px 7px 5px rgb(78, 87, 42);
}

.formulario input {
  background-color: aquamarine;
  width: 400px;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  padding: 20px;
  margin-bottom: 30px;
}
